APP_URL="http://localhost:3000"
DATABASE_URL="file:./dev.db"
DIRECT_URL="postgres://...direct.../dbname?sslmode=require"
GITHUB_APP_ID=""
GITHUB_APP_CLIENT_ID=""
GITHUB_APP_CLIENT_SECRET=""
GITHUB_APP_PRIVATE_KEY=""
GITHUB_APP_SLUG=""
